* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.2em;
  text-align: center;
  color: #333;
  
}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
#header {
  text-align: center;
  padding: 25px;
  margin: 20px 10px;
}
#about {
  margin-top: 10px;
}
#img-div {
  background-color: white;
  
}
img {
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}
#img-caption {
  text-align: center;
  margin: 15px 0 5px 0;
}
ul {
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  max-width: 550px;
}
h2 {
  padding: 20px;
  margin-bottom: 20px;
}
h4 {
  padding:20px;
  margin-top: 10px;
}
a {
  color:rgb(72, 72, 88);
}
a:hover {
  color: rgb(20, 20, 20);
}
blackquote {
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: center;
}